body{
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
}

#ahsoka, #storm, #maul, #vader{
    float: left;
    text-align: center;
    border: 2px #EEDB00 solid;
    padding: 0px 30px;
}

#rest{
    clear: both;
}

#enemiesAvailable{
    float: left;
}

#clearFloat{
    clear: both;
}

